<form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
  <label for="html">First Name</label>

  <input type = "text" name = "username" placeholder = "" ngModel>
  <br/>
  <label for="html">Male</label>
  <input type="checkbox" name = "male" ngModel  /><br>
  <label for="html">Female</label>
  <input type="checkbox" name = "female" ngModel  />

  <br/>
  <input type = "submit" value = "Search">
</form>


<div class="container">


  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of candidates">
        <td>{{ candidate.id }}</td>
        <td>{{ candidate.first_name }}</td>
        <td>{{ candidate.last_name }}</td>
        <td>{{ candidate.email }}</td>
        <td>{{ candidate.gender }}</td>
      </tr>
    </tbody>
  </table>
</div>